 body {
     font-family: "Tahoma";
 }
 
 .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #141414;/*#4285F6;/* #34b67a; */
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
 }
 
 .sidenav ul li a {
     /* padding: 8px 8px 8px 32px;*/
     text-decoration: none;
     font-size: 25px;
     color: #26a69a;
     display: block;
     transition: 0.3s;
 }
 
 .sidenav a:hover,
 .offcanvas a:focus {
     color: #212121/* #4285F6 */;
 }
 
 .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 20px;
     font-size: 36px;
     margin-left: 50px;
 }
 
 #main {
     transition: margin-left .5s;
     padding: 16px;
 }
 
 @media screen and (max-height: 450px) {
     .sidenav {
         padding-top: 15px;
     }
     .sidenav a {
         font-size: 18px;
     }
 }
 /*map config*/
 
 #map {
     height: 94%;
     width: 100%;
     
 }
 
 html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
 }
 /*header*/
 
 .navbar-brand {
     position: absolute;
     width: 100%;
     left: 0;
     top: 0;
     text-align: center;
     margin: auto;
 }
 
 .navbar {
     margin-bottom: 0
 }
 /*sidenav*/
 
 .rowClear {
     display: block;
     padding: 10px 5px;
     
     /* margin-bottom: 10px;*/
     height: 40px;
 }
 
 .rowClear2 {
     display: block;
     padding: 10px 5px;
     height: 40px;
     /*border-bottom: 1px solid #ccc;*/
 }
 .rowClear2 b{
     color: white;
 }
.btn-back{
    color: white;
}

 #mySidenav .nav .active a {
     background-color: #4e4e4e; /*#3367D5; #109d59; */
 }
 
 #content {
     /*padding-top: 10px;*/
     padding-bottom: 10px;
     background-color:white;
     height: 92%;
     overflow-x:hidden;
     overflow-y:visible;
 }
 
 .searchBox {
     padding: 10px;
     background-color: #109d59;
     /*margin-bottom: 10px;*/
 }
 
 .detailPage {
     background-color:  #4e4e4e; /*#3367D5; #109d59; */
 }
 
 .detailPage .btn {
     padding: 0px;
 }
 
 .directionDispatcher {
     padding: 10px;
     background-color: #4e4e4e; /*#3367D5;/* #109d59; */
 }
 
 .rowClear4 {
     display: block;
     padding: 10px 5px;
     height: 40px;
 }
 
 .stations {
     display: block;
     padding: 10px 5px;
     height: 40px;
     border-bottom: 1px solid #ccc;
 }
.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

/*should customize it*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    
}
.btn-default {
    color: white;
    background-color: #212121; /*#4285F6;/* #34b67a; */
    border-radius:0;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: white;
    text-align: center;
    background-color: #212121;/*#3367D5;/* #34b67a; */
    border: 1px solid #ccc;
    /* border-radius: 4px; */
}

.btn-group .button {
    background-color: #212121;/*#ffffff; /* Green */
    border: 1px solid #363636;/*#212121;/* #4285F6; */
    color: white/* black */ ;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    float: left;
    display: inline-block;
    line-height: 1.42857143;
    border-radius: 20px;
    font-weight: bold;
}
.btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.btn-group .button:hover {
    background-color: white;/* #4285F6; */
    color: black;
}
.container:after{
	position: absolute;
    bottom: 0;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #363636;
}