<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
	<div id="station-detail">
		<div class="detailPage" style="">
			<div class="containter">
				<div class="row row-eq-height rowClear2">
					<div class="col-md-2">
							<span class="glyphicon glyphicon-menu-left btn-back" aria-hidden="true"></span>
					</div>
					<div class="col-md-10">
						<b th:text="${station}"></b>
					</div>
				</div>
			</div>
		</div>

		<div class="containter">
			<div class="row row-eq-height stations"
				th:each="busStop :${stations}">
				<div class="col-md-10 col-md-offset-2 stationsName">
					<p th:text="${busStop.name}"></p>
				</div>
			</div>
		</div>
	</div>


</body>
</html>